@font-face {
    font-family:"LinetoCircularBlack";
    src:url("/assets/fonts/LINETO-CIRCULAR-BLACK_0.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"LinetoCircularProBook";
    src: url("/assets/fonts/LINETO-CIRCULAR-PRO-BOOK_0.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}