// Font sizes
$fs15: 15px;
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs23: 23px;
$fs24: 24px;
$fs23: 23px;
$fs25: 25px;
$fs32: 32px;
$fs50: 50px;
$fs63: 63px;


// Base colors
$white: #fff;
$black: #000;
$light-grey: #777777;
$primary-pink: #F11B5D;
$secondary-light-pink:  #F11B5D47;
$text-light-color: #9A9A9A;
$hover-pink: #f11b5d12;




$hamburger-menu-color: #1A1A1A;
$box-shadow-color: #00000029;
$image-gradient-color: #0000007A;
$border-color: #E6E6E6;
$text-color: #272727;
$text-light-color: #9A9A9A;
$input-border-color: #BFBFBF;


//Shadow
$shadow-color: #00000029;