<div class="donate-modal">
    <div class="goal">
        <span>Goal</span>
    </div>
    <div class="amount-first">
        <span>$1150000 of</span>
    </div>

    <div class="amount-second">
       <span> $1132500 raized</span>
    </div>

    <div class="amount-info">
        <span class="amount-info-star">*</span>
        <span>40% of required amount was donated by Charity <span class="foundation">Foundation</span></span>
    </div>
    <div class="donate">
        <input type="text" placeholder="Donation amount">
        <select class="currensy-select" name="currency" id="currency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="RUR">RUR</option>
        </select> 
        <img class="arrow-icon-down" src="../../../assets/images/arrow-icon-down.png" alt="">
            
    </div>

    <button class="donate-btn">DONATE NOW</button>

    <div class="questions">
        <p class="questions-help"> Can help with anything else?</p>
        <p class="questions-more"> More about it</p>
    </div>

</div>

