<div class="footer-wrapper">
    <div class="footer-info">
        <div class="footer">
            <div class="footer-text top-equal">
                <p>Tel</p>
                <p>Mail</p>
            </div>
            <div class="footer-text top-equal">
                <p> +3740011111</p>
                <p>charity@gmail.com</p>
            </div>
            <div>
                <div class="footer-title">
                    <p>Company</p>
                </div>
                <div class="footer-text">
                    <p>Home</p>
                    <p>Projects</p>
                    <p>Community</p>
                    <p>About us</p>
                    <p>News</p>
                </div>
            
            </div>
            <div>
                <div class="footer-title">
                    <p>Help and Support</p>
                </div>
                <div class="footer-text">
                    <p>FAQ</p>
                    <p>Terms and Condition</p>
                    <p>Privacy Policy</p>
                    <p>Contacts</p>
                </div>
            
            </div>
            <div class="footer-title">
                <p class="footer-title-follow">Follow us in social</p>
                <div class=social-logos>
                    <img class="fb-logo" src="../../../assets/images/fb-blackLogo.png" alt="">
                    <img class="twitter-logo" src="../../../assets/images/twitter-blackLogo.png" alt="">
                    <img class="linkedin-logo" src="../../../assets/images/linkedin-blackLogo.png" alt="">
                    <img class="instagram" src="../../../assets/images/instagram-blackLogo.png" alt="">
                </div>
                <p>Subscribe for new  projects</p>
                <div class="mail">
                    <input class="mail-input" type="email">
                    <label class="mail-label" for="email"> Your email</label>
                    <img class="arrow-icon" src="../../../assets/images/right-arrow.png" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="address-bottom-text">
            <p>Address Line, Yerevan, RA, 374154</p>
        </div>
    </div>
</div>